
      
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Assistant</h1>
            <p>Welcome!!</p>
            <p>This is an enhanced task manager meant to prevent you from missing out on meetings and tasks as you get busy with loads of work.</p>
            <p class="footer">Made with love in India <span class="flag">🇮🇳</span></p>
        </div>
        <div class="right">
            <div class="signup-section">
                <p>If you are a new user, please signup so that we can maintain a user base for your schedule and send notifications via E-mail</p>
                <button class="button signup">Sign up</button>
            </div>
            <div class="signin-section">
                <p>If you are an existing user, please sign in to get access to your dashboard</p>
                <button class="button signin">Sign in</button>
            </div>
        </div>
    </div>
</body>
</html>
